<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://myau.documents.azure.com:443/" />
    <add key="PrimaryKey" value="d41ErXE2KxLGaVQqiWx0D0Pm9QqSw0ywZSerDerQkxIvbjT7zApl5cuHwnWJPcUtVT8ExA6oJDOdACDb0wxVNw==" />
  </appSettings>
</configuration>